# Node dependencies
node_modules/

# Environment variables
.env
.env.*

# Prisma
backend/src/generated/
backend/src/prisma/

# Logs
logs/
*.log
npm-debug.log*
yarn-error.log*

# Build / runtime
dist/
build/
out/

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Temporary files
*.tmp
*.temp
.cache/
